In [1]:
import pandas as pd
import json
import numpy as np
from sklearn.neighbors import BallTree, KDTree

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float

import psycopg2
Base = declarative_base()

In [2]:
sunshine_csv = "Resources/Sunshine_by_city.csv"
sunshine_city_df = pd.read_csv(sunshine_csv)
sunshine_city_df[['City','State']] = sunshine_city_df['CITY'].str.split(',',expand=True)
sunshine_city_df = sunshine_city_df[['City','State','ANN']]
sunshine_city_df = sunshine_city_df.rename(columns={'ANN':'Annual Sunshine Percentage'})
sunshine_city_df['City'] = sunshine_city_df['City'].str.lower()
sunshine_city_df.head()

         City State  Annual Sunshine Percentage
0  birmingham    AL                        58.0
1  montgomery    AL                        58.0
2   anchorage    AK                        43.0
3      juneau    AK                        33.0
4        nome    AK                        42.0

In [3]:
plants_csv = "Resources/Plant_Y2019.csv"
plants_df = pd.read_csv(plants_csv,header=1)
plants_df = plants_df[['Utility ID','Utility Name','Plant Code','Plant Name','City','State','County','Latitude','Longitude']]
plants_df['City'] = plants_df['City'].str.lower()
plants_df['Latitude'] = pd.to_numeric(plants_df['Latitude'], errors = 'coerce')
plants_df['Longitude'] = pd.to_numeric(plants_df['Longitude'], errors = 'coerce')
plants_df

,Utility ID,Utility Name,Plant Code,Plant Name,City,State,County,Latitude,Longitude
0,63560,"TDX Sand Point Generating, LLC",1,Sand Point,sand point,AK,Aleutians East,55.339722,-160.497222
1,195,Alabama Power Co,2,Bankhead Dam,northport,AL,Tuscaloosa,33.458665,-87.356823
2,195,Alabama Power Co,3,Barry,bucks,AL,Mobile,31.006900,-88.010300
3,195,Alabama Power Co,4,Walter Bouldin Dam,wetumpka,AL,Elmore,32.583889,-86.283056
4,195,Alabama Power Co,7,Gadsden,gadsden,AL,Etowah,34.012800,-85.970800
...,...,...,...,...,...,...,...,...,...
11828,63609,Lyman Garden LLC,63937,Lyman Garden,northfield,MN,Dakota,44.476370,-93.153090
11829,63605,Nicollet Garden LLC,63938,Nicollet Garden,courtland,MN,Nicollet,44.253640,-94.270670
11830,63604,Union Garden LLC,63939,Union Garden,northfield,MN,Rice,44.469360,-93.135650
11831,63606,"Central 40, LLC",63940,Central 40,newman,CA,Stanislaus,37.246000,-121.104000
11832,63477,"Oasis Alta, LLC",63941,Oasis Alta,mojave,CA,Kern,35.059166,-118.291944

In [4]:
solar_csv = "Resources/Solar_Y2019.csv"
solar_df = pd.read_csv(solar_csv,header=1)
solar_df = solar_df[['Plant Code','Technology']]
solar_df.head()

   Plant Code          Technology
0         141  Solar Photovoltaic
1         645  Solar Photovoltaic
2         944  Solar Photovoltaic
3         960  Solar Photovoltaic
4        1172  Solar Photovoltaic

In [5]:
cities_csv = "Resources/uscities.csv"
cities_df = pd.read_csv(cities_csv)
cities_df = cities_df[['city','state_id','county_name','lat','lng']]
cities_df = cities_df.rename(columns={'city':'City','state_id':'State','county_name':'County','lat':'Latitude','lng':'Longitude'})
cities_df['City'] = cities_df['City'].str.lower()
cities_df.head()

          City State       County  Latitude  Longitude
0     new york    NY     New York   40.6943   -73.9249
1  los angeles    CA  Los Angeles   34.1139  -118.4068
2      chicago    IL         Cook   41.8373   -87.6862
3        miami    FL   Miami-Dade   25.7839   -80.2102
4       dallas    TX       Dallas   32.7936   -96.7662

In [6]:
cities_sun_coord = pd.merge(sunshine_city_df,cities_df,on=['City','State'])
cities_sun_coord

,City,State,Annual Sunshine Percentage,County,Latitude,Longitude
0,birmingham,AL,58.0,Jefferson,33.5277,-86.7987
1,montgomery,AL,58.0,Montgomery,32.3473,-86.2666
2,anchorage,AK,43.0,Anchorage,61.1508,-149.1091
3,juneau,AK,33.0,Juneau,58.4546,-134.1739
4,nome,AK,42.0,Nome,64.5213,-165.4053
...,...,...,...,...,...,...
143,milwaukee,WI,53.0,Milwaukee,43.0642,-87.9673
144,cheyenne,WY,64.0,Laramie,41.1351,-104.7900
145,lander,WY,67.0,Fremont,42.8313,-108.7599
146,sheridan,WY,60.0,Sheridan,44.7962,-106.9643
147,san juan,PR,64.0,San Juan,18.4037,-66.0636

In [7]:
solar_plants = pd.merge(solar_df,plants_df,on='Plant Code')
solar_plants

,Plant Code,Technology,Utility ID,Utility Name,Plant Name,City,State,County,Latitude,Longitude
0,141,Solar Photovoltaic,16572,Salt River Project,Agua Fria,glendale,AZ,Maricopa,33.556100,-112.215300
1,645,Solar Photovoltaic,18454,Tampa Electric Co,Big Bend,apollo beach,FL,Hillsborough,27.794400,-82.403600
2,944,Solar Photovoltaic,7095,City of Geneseo - (IL),Geneseo,geneseo,IL,Henry,41.451494,-90.148547
3,960,Solar Photovoltaic,16179,Rochelle Municipal Utilities,North Ninth Street,rochelle,IL,Ogle,41.909300,-89.049800
4,1172,Solar Photovoltaic,14201,City of Osage - (IA),Osage (IA),osage,IA,Mitchell,43.279722,-92.810556
...,...,...,...,...,...,...,...,...,...,...
3962,63800,Solar Photovoltaic,62856,"Forefront Power, LLC",NY - CSG - Ellsworth II,halfmoon,NY,Saratoga,42.899691,-73.707473
3963,63825,Solar Photovoltaic,63505,"DG Illinois Solar, LLC",Lineage Logistics Solar,university park,IL,Will,41.455000,-87.752000
3964,63844,Solar Photovoltaic,63521,"DG Southwest Solar Portfolio 2019, LLC",Fort Calhoun Community Solar,fort calhoun,NE,Washington,41.456612,-96.004766
3965,63869,Solar Photovoltaic,60293,"DG Colorado Solar, LLC",IBM Solar,boulder,CO,Boulder,40.038266,-105.244892
3966,63928,Solar Photovoltaic,56476,Ameresco,Vacaville Hospital,vacaville,CA,Solano,38.388670,-121.938640

In [8]:
city_merge = pd.merge(solar_plants,cities_sun_coord,on=['City','State'])
city_merge

,Plant Code,Technology,Utility ID,Utility Name,Plant Name,City,State,County_x,Latitude_x,Longitude_x,Annual Sunshine Percentage,County_y,Latitude_y,Longitude_y
0,2953,Solar Photovoltaic,14063,Oklahoma Gas & Electric Co,Mustang,oklahoma city,OK,Canadian,35.469880,-97.674980,66.0,Oklahoma,35.4676,-97.5136
1,50061,Solar Photovoltaic,16625,San Diego State University,San Diego State University,san diego,CA,San Diego,32.778225,-117.070114,69.0,San Diego,32.8312,-117.1225
2,50061,Solar Photovoltaic,16625,San Diego State University,San Diego State University,san diego,CA,San Diego,32.778225,-117.070114,69.0,San Diego,32.8312,-117.1225
3,50061,Solar Photovoltaic,16625,San Diego State University,San Diego State University,san diego,CA,San Diego,32.778225,-117.070114,69.0,San Diego,32.8312,-117.1225
4,50061,Solar Photovoltaic,16625,San Diego State University,San Diego State University,san diego,CA,San Diego,32.778225,-117.070114,69.0,San Diego,32.8312,-117.1225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,62393,Solar Photovoltaic,7140,Georgia Power Co,Atlanta Falcons Solar,atlanta,GA,Fulton,33.755421,-84.400933,60.0,Fulton,33.7627,-84.4224
178,62393,Solar Photovoltaic,7140,Georgia Power Co,Atlanta Falcons Solar,atlanta,GA,Fulton,33.755421,-84.400933,60.0,Fulton,33.7627,-84.4224
179,62393,Solar Photovoltaic,7140,Georgia Power Co,Atlanta Falcons Solar,atlanta,GA,Fulton,33.755421,-84.400933,60.0,Fulton,33.7627,-84.4224
180,62880,Solar Photovoltaic,62715,Westbound Solar LLC,Bibb Jones,macon,GA,Bibb,32.777747,-83.756164,63.0,Bibb,32.8065,-83.6974
181,63294,Solar Photovoltaic,63079,Cincinnati Zoo & Botanical Garden,Parking Lot Array,cincinnati,OH,Hamilton,39.141852,-84.510740,NaN,Hamilton,39.1413,-84.5061

In [9]:
county_merge = pd.merge(solar_plants,cities_sun_coord,on=['County','State'])
county_merge = county_merge[['Plant Code','Plant Name','Technology','State','County','Annual Sunshine Percentage']]
county_merge = county_merge.dropna()
county_merge

,Plant Code,Plant Name,Technology,State,County,Annual Sunshine Percentage
0,141,Agua Fria,Solar Photovoltaic,AZ,Maricopa,85.0
1,56812,Solana Generating Station,Solar Thermal with Energy Storage,AZ,Maricopa,85.0
2,56812,Solana Generating Station,Solar Thermal with Energy Storage,AZ,Maricopa,85.0
3,57324,Luke Solar,Solar Photovoltaic,AZ,Maricopa,85.0
4,57561,Cotton Center Solar Hybrid,Solar Photovoltaic,AZ,Maricopa,85.0
...,...,...,...,...,...,...
655,62393,Atlanta Falcons Solar,Solar Photovoltaic,GA,Fulton,60.0
656,62468,Music City Community Solar,Solar Photovoltaic,TN,Davidson,55.0
657,62676,Epic Verona,Solar Photovoltaic,WI,Dane,52.0
658,62880,Bibb Jones,Solar Photovoltaic,GA,Bibb,63.0
659,62980,Turquoise Liberty Solar,Solar Photovoltaic,NV,Washoe,81.0

In [10]:
cities_coord_round = cities_sun_coord.round({'Latitude': 0, 'Longitude': 0})
cities_coord_round = cities_coord_round[['Annual Sunshine Percentage','Latitude','Longitude']]
cities_coord_round

     Annual Sunshine Percentage  Latitude  Longitude
0                          58.0      34.0      -87.0
1                          58.0      32.0      -86.0
2                          43.0      61.0     -149.0
3                          33.0      58.0     -134.0
4                          42.0      65.0     -165.0
..                          ...       ...        ...
143                        53.0      43.0      -88.0
144                        64.0      41.0     -105.0
145                        67.0      43.0     -109.0
146                        60.0      45.0     -107.0
147                        64.0      18.0      -66.0

[148 rows x 3 columns]

In [11]:
solar_plants_round = solar_plants.round({'Latitude': 0, 'Longitude': 0})
solar_plants_round

,Plant Code,Technology,Utility ID,Utility Name,Plant Name,City,State,County,Latitude,Longitude
0,141,Solar Photovoltaic,16572,Salt River Project,Agua Fria,glendale,AZ,Maricopa,34.0,-112.0
1,645,Solar Photovoltaic,18454,Tampa Electric Co,Big Bend,apollo beach,FL,Hillsborough,28.0,-82.0
2,944,Solar Photovoltaic,7095,City of Geneseo - (IL),Geneseo,geneseo,IL,Henry,41.0,-90.0
3,960,Solar Photovoltaic,16179,Rochelle Municipal Utilities,North Ninth Street,rochelle,IL,Ogle,42.0,-89.0
4,1172,Solar Photovoltaic,14201,City of Osage - (IA),Osage (IA),osage,IA,Mitchell,43.0,-93.0
...,...,...,...,...,...,...,...,...,...,...
3962,63800,Solar Photovoltaic,62856,"Forefront Power, LLC",NY - CSG - Ellsworth II,halfmoon,NY,Saratoga,43.0,-74.0
3963,63825,Solar Photovoltaic,63505,"DG Illinois Solar, LLC",Lineage Logistics Solar,university park,IL,Will,41.0,-88.0
3964,63844,Solar Photovoltaic,63521,"DG Southwest Solar Portfolio 2019, LLC",Fort Calhoun Community Solar,fort calhoun,NE,Washington,41.0,-96.0
3965,63869,Solar Photovoltaic,60293,"DG Colorado Solar, LLC",IBM Solar,boulder,CO,Boulder,40.0,-105.0
3966,63928,Solar Photovoltaic,56476,Ameresco,Vacaville Hospital,vacaville,CA,Solano,38.0,-122.0

In [12]:
round_merge = pd.merge(cities_coord_round,solar_plants_round, on=['Latitude','Longitude'])
round_merge = round_merge[['Plant Code','Plant Name','Technology','Latitude','Longitude','State','County','Annual Sunshine Percentage']]
round_merge = round_merge.dropna()
round_merge

,Plant Code,Plant Name,Technology,Latitude,Longitude,State,County,Annual Sunshine Percentage
0,56228,Prescott Airport,Solar Photovoltaic,35.0,-112.0,AZ,Yavapai,76.0
1,57560,Chino Solar Valley,Solar Photovoltaic,35.0,-112.0,AZ,Yavapai,76.0
2,58147,Prescott Solar Plant,Solar Photovoltaic,35.0,-112.0,AZ,Yavapai,76.0
3,141,Agua Fria,Solar Photovoltaic,34.0,-112.0,AZ,Maricopa,85.0
4,57324,Luke Solar,Solar Photovoltaic,34.0,-112.0,AZ,Maricopa,85.0
...,...,...,...,...,...,...,...,...
1507,60248,Skylark,Solar Photovoltaic,41.0,-105.0,CO,Weld,64.0
1508,60351,Bison Solar LLC,Solar Photovoltaic,41.0,-105.0,CO,Larimer,64.0
1509,60497,SR Skylark B,Solar Photovoltaic,41.0,-105.0,CO,Weld,64.0
1510,61425,Coyote Ridge Community Solar,Solar Photovoltaic,41.0,-105.0,CO,Larimer,64.0
1511,63587,SR Skylark C,Solar Photovoltaic,41.0,-105.0,CO,Weld,64.0

In [13]:
sorted_county = county_merge.sort_values('Annual Sunshine Percentage')
sorted_county

,Plant Code,Plant Name,Technology,State,County,Annual Sunshine Percentage
624,60097,Onondaga County - Metro Water Board,Solar Photovoltaic,NY,Onondaga,44.0
625,60098,Onondaga County - Oak Orchard WWTP,Solar Photovoltaic,NY,Onondaga,44.0
626,60232,Onondaga County- Jamesville,Solar Photovoltaic,NY,Onondaga,44.0
627,61575,Anheuser-Busch Baldwinsville,Solar Photovoltaic,NY,Onondaga,44.0
572,62041,Cuyahoga County Landfill,Solar Photovoltaic,OH,Cuyahoga,47.0
...,...,...,...,...,...,...
462,63531,Pima Community College NW,Solar Photovoltaic,AZ,Pima,85.0
439,57392,UASTP I,Solar Photovoltaic,AZ,Pima,85.0
440,57524,Roger Road WWTP,Solar Photovoltaic,AZ,Pima,85.0
40,60467,Red Rock,Solar Photovoltaic,AZ,Maricopa,85.0
0,141,Agua Fria,Solar Photovoltaic,AZ,Maricopa,85.0

In [14]:
sorted_coord = round_merge.sort_values('Annual Sunshine Percentage')
sorted_coord

,Plant Code,Plant Name,Technology,Latitude,Longitude,State,County,Annual Sunshine Percentage
1110,60818,Oswego County - Fulton Solar,Solar Photovoltaic,43.0,-76.0,NY,Oswego,44.0
1113,61725,Madison County,Solar Photovoltaic,43.0,-76.0,NY,Madison,44.0
1112,61604,Camden CSD Solar Array,Solar Photovoltaic,43.0,-76.0,NY,Oneida,44.0
1111,61575,Anheuser-Busch Baldwinsville,Solar Photovoltaic,43.0,-76.0,NY,Onondaga,44.0
1105,60097,Onondaga County - Metro Water Board,Solar Photovoltaic,43.0,-76.0,NY,Onondaga,44.0
...,...,...,...,...,...,...,...,...
28,60996,Iron Horse Battery Storage Hybrid,Solar Photovoltaic,32.0,-111.0,AZ,Pima,85.0
29,61104,Pima Community College - East Campus,Solar Photovoltaic,32.0,-111.0,AZ,Pima,85.0
30,62075,Pima Community College,Solar Photovoltaic,32.0,-111.0,AZ,Pima,85.0
15,58832,Cogenra - TEP,Solar Photovoltaic,32.0,-111.0,AZ,Pima,85.0
31,63531,Pima Community College NW,Solar Photovoltaic,32.0,-111.0,AZ,Pima,85.0

In [15]:
# first step to find distance between lat, long coordinates is to
# convert lat and long from degrees to radians
# code adapted from https://bit.ly/39ckmkT

solar_plants['Lat Rad']= np.deg2rad(solar_plants['Latitude'])
solar_plants['Lng Rad']= np.deg2rad(solar_plants['Longitude'])
# spot check for NaN
print(sum(solar_plants['Lat Rad'].isna()))

cities_sun_coord['Lat Rad']= np.deg2rad(cities_sun_coord['Latitude'])
cities_sun_coord['Lng Rad']= np.deg2rad(cities_sun_coord['Longitude'])
# spot check for NaN
print(sum(cities_sun_coord['Lat Rad'].isna()))
cities_sun_coord.head()

0
0

,City,State,Annual Sunshine Percentage,County,Latitude,Longitude,Lat Rad,Lng Rad
0,birmingham,AL,58.0,Jefferson,33.5277,-86.7987,0.585169,-1.514923
1,montgomery,AL,58.0,Montgomery,32.3473,-86.2666,0.564567,-1.505636
2,anchorage,AK,43.0,Anchorage,61.1508,-149.1091,1.067283,-2.602445
3,juneau,AK,33.0,Juneau,58.4546,-134.1739,1.020225,-2.341776
4,nome,AK,42.0,Nome,64.5213,-165.4053,1.126109,-2.886867

In [16]:
# create a BallTree for fast distance comparison 
# use the Haversine metric to compute distance
ball = BallTree(cities_sun_coord[["Lat Rad", "Lng Rad"]].values, metric='haversine')

# find 1 nearest neighbor for each row in solar_plants
# distances is list of distances to nearest city in cities_sun_coord
# by default distances are based on unit sphere 
# to get actual distances have to multiply by radius of earth
# we're not using the distances for anything so we leave it unchanged
# indices is a list of indices of nearest city in cities_suncoord by row in solar_plant
distances, indices = ball.query(solar_plants[["Lat Rad", "Lng Rad"]].values, k = 1)

# create a new dataframe that has closest city sun
# percentages for each row in solar_plants
closest_cities = cities_sun_coord.iloc[np.ravel(indices)].copy()
closest_cities.rename(columns={'City':'City_r','State':'State_r','County':'County_r',
                               'Latitude':'Latitude_r','Longitude':'Longitude_r'},inplace=True)

In [10]:
# concatenate solar information onto solar plants dataframe
final_df = pd.concat([solar_plants.reset_index(drop=True), closest_cities.reset_index(drop=True)],axis=1)
final_df.sort_values('Annual Sunshine Percentage',ascending=False)

,Plant Code,Technology,Utility ID,Utility Name,Plant Name,City,State,County,Latitude,Longitude,Lat Rad,Lng Rad,City_r,State_r,Annual Sunshine Percentage,County_r,Latitude_r,Longitude_r,Lat Rad,Lng Rad
0,141,Solar Photovoltaic,16572,Salt River Project,Agua Fria,glendale,AZ,Maricopa,33.556100,-112.215300,0.585664,-1.958526,phoenix,AZ,85.0,Maricopa,33.5722,-112.0891,0.585945,-1.956324
544,57939,Solar Photovoltaic,60947,Tesla Inc.,Walmart Casa Grande,casa grande,AZ,Pinal,32.866837,-111.771751,0.573635,-1.950785,phoenix,AZ,85.0,Maricopa,33.5722,-112.0891,0.585945,-1.956324
461,57765,Solar Photovoltaic,58863,Main Street Power,Arizona Western College PV,yuma,AZ,Yuma,32.687778,-114.496110,0.570509,-1.998334,phoenix,AZ,85.0,Maricopa,33.5722,-112.0891,0.585945,-1.956324
462,57765,Solar Photovoltaic,58863,Main Street Power,Arizona Western College PV,yuma,AZ,Yuma,32.687778,-114.496110,0.570509,-1.998334,phoenix,AZ,85.0,Maricopa,33.5722,-112.0891,0.585945,-1.956324
463,57765,Solar Photovoltaic,58863,Main Street Power,Arizona Western College PV,yuma,AZ,Yuma,32.687778,-114.496110,0.570509,-1.998334,phoenix,AZ,85.0,Maricopa,33.5722,-112.0891,0.585945,-1.956324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,63200,Solar Photovoltaic,60474,"Vanguard Energy Partners, LLC","Bergenmand Solar Partners, LLC Mahwah",mahwah,NJ,Bergen,41.079073,-74.150011,0.716965,-1.294162,allentown,PA,NaN,Lehigh,40.5961,-75.4756,0.708536,-1.317298
3818,63257,Solar Photovoltaic,63057,Short Hills Mall,Short Hills Mall,short hills,NJ,Essex,40.739700,-74.364200,0.711042,-1.297900,allentown,PA,NaN,Lehigh,40.5961,-75.4756,0.708536,-1.317298
3839,63294,Solar Photovoltaic,63079,Cincinnati Zoo & Botanical Garden,Parking Lot Array,cincinnati,OH,Hamilton,39.141852,-84.510740,0.683154,-1.474991,cincinnati,OH,NaN,Hamilton,39.1413,-84.5061,0.683145,-1.474910
3861,63366,Solar Photovoltaic,60268,Hartz Solar LLC,435A Bergen Avenue,kearney,NJ,Hudson,40.751938,-74.131258,0.711255,-1.293835,allentown,PA,NaN,Lehigh,40.5961,-75.4756,0.708536,-1.317298
3887,63404,Solar Photovoltaic,61944,GSRP,Thermo Fisher,bridgewater,NJ,Somerset,40.573700,-74.629470,0.708145,-1.302530,allentown,PA,NaN,Lehigh,40.5961,-75.4756,0.708536,-1.317298

In [17]:
# create a class for database records
class SolarData(Base):
  __tablename__ = "solar"
  record_id = Column(Integer,primary_key=True)
  plant_code = Column(Integer)
  utility_name = Column(String)
  plant_name = Column(String)
  city = Column(String)
  state = Column(String)
  annual_sun = Column(Float)

In [ ]:
# connect to the database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/solar_db')
connection = engine.connect()

session = Session(bind=engine)

In [19]:
# create the table in the database
Base.metadata.create_all(engine)

In [20]:
# iterate through dataframe
for index, row in final_df.iterrows():
    # create a record for each row
    record = SolarData(
        plant_code = int(final_df.loc[index,'Plant Code']),
        utility_name = final_df.loc[index,'Utility Name'],
        plant_name = final_df.loc[index, 'Plant Name'],
        city = final_df.loc[index, 'City'],
        state = final_df.loc[index, 'State'],
        annual_sun = float(final_df.loc[index, 'Annual Sunshine Percentage']))
    # add record to the database
    session.add(record)
    session.commit()

In [21]:
session.close()